torch
git+https://github.com/arcee-ai/mergekit.git
# see https://huggingface.co/spaces/Wauplin/gradio_logsview
gradio_logsview@https://huggingface.co/spaces/Wauplin/gradio_logsview/resolve/main/gradio_logsview-0.0.1-py3-none-any.whl